.add-user {
    padding: 20px 15px;
}

.add-user__input-block {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.add-user__label {
    margin-bottom: 5px;
    font-weight: bold;
}

.add-user__input {
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.add-user__input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
    0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
    0 0 8px rgba(102,175,233,.6);
}

.help {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 1rem;
}

.is-danger {
    color: red;
}

.add-user__submit {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.add-user__submit:hover {
    border-color: #adadad;
    background-color: #e6e6e6;
}